* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdf7eb;
    text-align: center;
}

.header {
    background-color: #e7a530;
    height: 50px;
    width: 100%;
}

.logo-container {
    margin-top: 50px;
}

.logo-container img {
    width: 200px;
}

.search-box {
    margin-top: 20px;
}

.search-box input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-box a {
    background-color: #e7a530;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -40px;
}