body {
    font-family: Arial, sans-serif;
    background-color: #f4f1eb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d89831;
    padding: 15px;
    text-align: center;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #d89831;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.15);
    transition: 0.4s linear;
}

.card:hover{
    box-shadow: 0px 1px 35px 0px rgb(0, 0, 0, 0.3);
}

.card:hover .image img{
    transform: scale(1.1);
}
.card img {
    width: 100%;
    border-radius: 5px;
}
.image img{
  height: 100%;
  width: 100%;
  transform: scale(1.1);
}

.card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.card p {
    font-weight: bold;
}

button {
    background-color: #f4e5d8;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}